<ul class="list-inline">
    <!-- <li> -->
        <a href="https://www.facebook.com/pripessoaink">
            <i class="icon fab fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/pripessoaink/">
            <i class="icon fab fa-instagram"></i>
        </a>
        <a href="https://youtu.be/cF5qsTjtwhw">
            <i class="icon fab fa-youtube"></i>
        </a>
        <a href="https://t.me/pripessoaink">
            <i class="icon fab fa-telegram-plane"></i>
        </a>
        <a href="https://www.colab55.com/@pripessoaink">
            <i class="icon fas fa-shopping-basket"></i>
        </a>
    <!-- </li> -->
</ul>
