<div class="col-md-4">
	<div class="sidebar">
		<div class="widget">
		    <h6>Sponsor</h6>

		    <p><a target="_blank" href="http://shareasale.com/r.cfm?b=737540&amp;u=1087935&amp;m=59353&amp;urllink=&amp;afftrack="><img src="https://i.shareasale.com/image/59353/300x250-usa.gif" border="0" alt="Free website and domain" /></a></p>
		</div>

		<div class="widget">
		    <h6>Premium</h6>
		    <ul class="list-unstyled">
		    <li><a href="https://www.wowthemes.net/themes/tag/bootstrap/" target="_blank">WowThemesNet</a></li>
		    <li><a href="http://bootstrapbay.com/?ref=wowthemesnet" target="_blank">BootstrapBay</a></li>
		    <li><a href="https://graygrids.com/ref/wowthemesnet/" target="_blank">GradyGrids</a></li>
		    <li><a href="https://themehunt.com/?ref=wowthemesnet" target="_blank">ThemeHunt</a></li>
		    <li><a href="https://wrapbootstrap.com/?ref=wowthemesnet" target="_blank">WrapBootstrap</a></li>
		    </ul>
		</div>

		<div class="widget">
		    <ul class="list-unstyled text-small">
		    <h6>Tools</h6>
		    <li><a href="https://www.cloudways.com/en/?id=153986" target="_blank">Cloudways</a></li>
		    <li><a href="http://shareasale.com/r.cfm?b=985492&amp;u=1087935&amp;m=46483&amp;urllink=&amp;afftrack=" target="_blank">Namecheap</a></li>
		    <li><a href="http://shrsl.com/ryhj" target="_blank">Page Speed Test</a></li>
		    <li><a href="http://shrsl.com/ryhr" target="_blank">Flywheel Migration</a></li>
		    <li><a href="http://shrsl.com/ryht" target="_blank">Customizr</a></li>
		    <li><a target="_blank" href="http://shareasale.com/r.cfm?b=737545&u=1087935&m=59353&urllink=&afftrack=">Build Your Website For Free</a></li>
		    </ul>
		</div>
	</div>
</div>
