---
# Nothing in here
---

$fa-font-path: "webfonts";
@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/brands.scss";

.icon {
    font-size: 48px;
    padding:10px;
}

.icon:hover{
    font-size: 70px;
}

.fa-facebook:hover{
    color: #3b5998;
}

.fa-instagram:hover{
    color: #DD2A7B;
}

.fa-youtube:hover{
    color: #c4302b;
}

.fa-telegram-plane:hover{
    color: #0088CC;
}

.fa-shopping-basket:hover{
    color: yellow;
}
.icons {
    display: flex;
    justify-content: center;
    height: 70px;
    line-height: 48px;
}