<section id="interested">
<div class="container content-section text-center">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<h2> Ficou interessado? </h2>
			<p>
				Confere os projetos de
				<a href="https://www.instagram.com/stories/highlights/17931044302123344/">
					<button type="button" class="btn btn-dark"> TATTOOS DISPONIVEIS </button>
				</a>
				e manda um email com a tua ideia que tenho certeza que a gente pode bolar um imagem EXCLUSIVA do jeitinho que você imagina!
			</p>
			<p>
                <i><a href="mailto:{{ site.email }}" class="highlightlink">{{ site.email }}</a></i>
			</p>
		</div>
	</div>
</div>
</section>
